

.layout-main{
   
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eceffc;
}
.main{
    border: 1px solid black;
width: 20%;
height: auto;
padding: 1rem;
color: white;
box-sizing: content-box;
display: flex;
flex-direction: column;
align-items: center;
background: rgba(0, 0, 0, 0.8);
border-radius: 10px;
box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.form-item{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    align-items: center;
   width: 100%;
}

/* chat */
.btn{
    display: block;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
}
.btn2{
    display: block;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
}
.chat-container{
    width: 90%;
    display: grid;
    height: auto;
    grid-template-areas: 
    "header"
    "main-chat"
    "chat-form";
    grid-gap: 5px;
    overflow: hidden;
    max-width: 1100px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: aqua;
    padding: 1rem;
}
.chat-header{
    grid-area: header;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.chat-messages{
    grid-area: main-chat;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    
    padding-left: 100px;
   padding-right: 100px;
   box-sizing: border-box;
    overflow-y: scroll;
}
.chat-form-container{
    grid-area: chat-form;
    width: 100%;
    height: 10vh;
}
.message{
    height: 60px;
}

.error-message{
    color: red;
}



.chat-form-container{
    overflow: hidden;
}
.chat-container form{
    display: flex;
}
#chat-form-container input[type="text"]{
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 4;
    
}
#chat-form-container button{
    flex: 1;
}

.btn{
    display: block;
    width: 100%;
}

  
.sender-color{
background-color: #3f51be;
}
.receiver-color{
    background-color: #7784d2;
}
.message{
  
    font-size: 16px;
    padding: .5rem;
    margin-top: .6rem;
    width: 30%;
    border-radius: 30px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-weight: bold;
}
.message-user{
    font-size: 20px;
    color: white;
}
.message{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-sizing: border-box;
    width: 60%;
}
.message-text{
    margin-left: 10px;
}
.message-left{
    align-self: flex-start;
}
.message-right{
    align-self: flex-end;
    
}
.btn2{
    display: inline;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-color: white;
}
.primary-button{
    
    color: white;
    text-decoration: none;
}
.primary-button:hover{
    color: tomato;
}

@media screen and (max-width : 700px){

.main{
    width: 100vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat-container{
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header"
    "main-chat"
    "chat-form";
    grid-gap: 5px;
    overflow: hidden;
    max-width: 1100px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: aqua;
    padding: 1rem;
}
.chat-header{
    grid-area: header;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.chat-messages{
    
    grid-area: main-chat;

    width: 100%;
    height: 80vh;
    padding:0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.chat-form-container{
    grid-area: chat-form;
    width: 100%;
    height: 10vh;
}


.error-message{
    color: red;
}



.chat-form-container{
    overflow: hidden;
}
.chat-container form{
    display: flex;
}
#chat-form-container input[type="text"]{

    font-size: 16px;
    padding: 5px;
    height: 25px;
    flex: 4;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    color: wheat;
    
    
}
#chat-form-container button{
    flex: 1;
}

.btn{
    display: block;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
}
.btn2{
    display: block;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
}
.message{
    width:90%;
   min-height: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left:20px ;
    align-self: center;
    
}

.message-text{
    margin-left: 10px;
}

}