

.layout-main{
   
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    background-color: #eceffc;
    box-sizing: border-box;
}
.main{
    border: 1px solid black;
    min-width: 300px;
/* width: 20%; */
height: auto;

padding: 1rem;
color: white;
box-sizing: content-box;
display: flex;
flex-direction: column;
align-items: center;
/* background: rgba(0, 0, 0, 0.8); */
background-color: #50a3a2;
border-radius: 10px;
box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.contact-bar{
    min-height: 100px;
    max-height: 250px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.contact{
    text-decoration: none;
    color: white;
    width: 150px;
    height: 20px;
    overflow-x: hidden;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
   margin-top: 5px;
}
.contact:hover{
    color:darkorange;
    border: 1px solid darkorange;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    align-items: center;
   width: 100%;
}

/* chat */
.btn{
    display: block;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
}
.btn2{
    display: block;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
}
.chat-container{
    padding: 20px 30px;
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header"
    "main-chat"
    "chat-form";
    grid-gap: 5px;
    overflow: hidden;
    
    box-sizing: border-box;
    border-radius: 20px;
   
    
}
#chat-form{
    width: 80%;
    margin: 0 auto;
}
.chat-header{
    grid-area: header;
    height: 5vh;
    display: flex;
    box-sizing: border-box;
    padding: 15px 20px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.chat-messages{
    grid-area: main-chat;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    
    padding-left: 100px;
   padding-right: 100px;
   box-sizing: border-box;
    overflow-y: scroll;
}
.chat-form-container{
    grid-area: chat-form;
    width: 100%;
    height: 5vh;
    padding: 5px 0;
}


.error-message{
    color: red;
}

.status{
    font-weight: bold;
    color: green;
}
.status-green{
color: green;
}
.status-red{
color: red;
}

.chat-form-container{
    overflow: hidden;
}
.chat-container form{
    display: flex;
}
#chat-form-container input[type="text"]{
    font-size: 16px;
    padding: 10px 25px;
  
    flex: 4;
    outline: none;
    border: hidden;
    border-top-left-radius: 10px;
    
    
    border-bottom: 1px solid rgb(145, 135, 135);
    color: black;
    -webkit-transition:0.5s ;
    transition: 0.5s;
    
    background-color: #ccc;
}
#chat-form-container input[type="text"]:focus{
   border-radius: 5px;
    /* border-bottom: 1px solid rgb(121, 120, 120); */
    border: 1px solid black;
    color: black;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0,0.3);
    
}
#chat-form-container button{
    flex: .3;
    color: white;
    border-top-right-radius: 10px;
    outline: none;
    background-color: #4CAF50;
  height: 40px;
    padding: 0 20px;
    border: none;
    transition: .5s;
}
#chat-form-container button:hover{
   
    color: #4CAF50;
    border-top-right-radius: 10px;
    outline: none;
    background-color:white;
  height: 40px;
  border: 2px solid #4CAF50;
    padding: 0 20px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0,0.3);
  
}


.btn{
    display: block;
    width: 100%;
}

.message-time{
    display: inline;
    margin-left: 7px;
    color: #DCDCDC;
}
  
.sender-color{
background-color: #A9A9A9;
}
.receiver-color{
    background-color: #8FBC8F;
}
.message{
  
    font-size: 14px;
    padding: 0px 10px;
    padding-left: 20px;
    margin-top: .6rem;
    min-width:320px;
    max-width: 320px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
   font-weight: bold;
}
.message.message-text{
    min-width: 200px;
    max-width: 200px;
}
.message-user{
    display: inline;
    font-size: 20px;
    color: white;
}

.chat-button{
    margin-left: 10px;
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
}
.chat-button:hover{
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0,0.3);
}

.message-left{
    align-self: flex-start;
}
.message-right{
    align-self: flex-end;
    
}
.btn2{
    display: inline;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-color: white;
}
.primary-button{
    
    color: white;
    text-decoration: none;
}
.primary-button:hover{
    color: tomato;
}

input{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 200px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 300;
    transition: .5s;
}
input:focus{
    border: 1px solid rgb(136, 133, 133);
    border-radius: 10px;
    width: 230px;
}
.button-primary {
   color: white;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100px;
    padding: 10px;
    border-radius: 10px;
  }
  .button-primary:hover {
    color: tomato;
    border: 1px solid tomato;
  
     
   }
   .chat-header-text{
 color: black;  }
@media screen and (max-width : 700px){

    /* .chat-header h1{
        color: white;
      
    } */
  
.main{
    width: 100vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #50a3a2;
}
.chat-header-text{
    color: black;  
    height: fit-content;
}
.chat-container{
    width: 100%;
    display: grid;
    /* height: 90vh; */
    grid-template-areas: 
    "header"
    "main-chat"
    "chat-form";
    grid-gap: 5px;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    
    
}
.chat-header{
    padding: 0px 20px;
    box-sizing: border-box;
   height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   text-align: center;
   border-bottom: 1px #ccc;
}
.chat-messages{
    grid-area: main-chat;
    width: 100%;
    min-height: 70vh;
    max-height: 70vh;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.chat-form-container{
    grid-area: chat-form;
    width: 100%;
    height: 8vh;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  
   
}


.error-message{
    color: red;
}


input{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    outline: none;
    text-align: center;
    font-size: 18px;
    /* border: 1px solid white; */
    color: white;
    font-weight: 300;
    transition: .5s;
}
input:focus{
    border: 1px solid rgb(136, 133, 133);
    border-radius: 10px;
    width: 260px;
}
.main-heading{
    font-size: 2rem;
}
.primary-button2{
    appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}
label{
    font-size: 1.5rem;
}
.chat-form-container{
    overflow: hidden;
}
.chat-container form{
    display: flex;
}
#chat-form-container input[type="text"]{

    font-size: 16px;
    padding: 5px;
    height: 25px;
    flex: 4;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    color: wheat;
    
    
}
#chat-form-container button{
    flex: 1;
    height: 37.5px;
}

/* .btn{
    display: block;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
}
.btn2{
    display: block;
    width: 100%;
    color: white;
    background-color: #008CBA;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: white;
} */
.message{
 
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: row;
    padding-left:20px ;
    align-self: center;
    
   
    
}


.message-text{
    margin-left: 10px;
  height: auto;
   
}
#chat-form input[type="text"]{
    color: black;
    border: 1px solid black;
}
#chat-form input[type="text"]:focus{
    color: black;
    border: 1px solid white;

    
}

}