

<div class="main">
    <form action="/register" method="POST">
        <h2>
            Register
        </h2>
        <div class="form-item">
            <label>Enter username</label>
            <input type="text" name="username">
        </div>
        <div class="form-item">
            <label>Enter password</label>
            <input type="password" name="password" >
        </div>
        <div class="form-item">
            <label>Confirm password</label>
            <input type="password" name="password2" >
        </div>
        
        <button type="submit">Submit</button>
        
        
        </form>
        <div>
            <br>
            Or
            <a href="/"><button>Signin</button></a>
        </div>
</div>