

<div class="main">
    <h2 class="main-heading">
        Register
    </h2>
    <% if(locals.errorMessage!=null) {%>
        <div class="error-message"><%=errorMessage %></div>
        
        <%}%>
    <form action="/register" method="POST">
       
        <div class="form-item">
            <label>Enter username</label>
            <input placeholder="Type..." type="text" name="username">
        </div>
        <div class="form-item">
            <label>Enter password</label>
            <input placeholder="Type..." type="password" name="password" >
        </div>
        <div class="form-item">
            <label>Confirm password</label>
            <input placeholder="Type..." type="password" name="password2" >
            <br>
            <button class="button-primary"type="submit">Submit</button>
        </div>
        
        
        </form>
        <div class="form-item">
           
            <a class="primary-button" href="/">Already have an account?</a>
        </div>
</div>