
<div class="main">
    <form action="/search" method="POST">
        <label for="">Search user by username</label>
        <input type="text" name="username" value="">
    <button type="submit">Search</button>
    </form>
    <a href="logout"><button>Logout</button></a>
</div>
