
<div class="main">
    <h2>Search</h2>
    <% if(locals.errorMessage!=null) {%>
        <div class="error-message"><%=errorMessage %></div>
        
        <%}%>
    <form action="/search" method="POST">
       <div class="form-item">
        <label for="">Search user by username</label>
        <br>
        <input placeholder="Type.." type="text" name="username" value="">
        <br>
        <button class="btn" type="submit">Search</button>
    </div> 
</form>
<div class="form-item">
    <a href="logout"><button class="btn">Logout</button></a>
</div>
   
</div>
