<div class="main">
    <h2>SignIn</h2>
<form action="/signin" method="POST" >

    <div class="form-item">
        <label>Username</label>
<input placeholder="Type.." type="text" name="username" value="">
    </div>
    <div class="form-item">
        <label>Password</label>
        <input placeholder="Type.." type="password" name="password" value="">
    </div>
    <div class="form-item">
        <button class="btn" type="submit">Submit</button>

    </div>



  
</form>
<div class="form-item">
    <p>Join now</p>
    <a class="btn" href="/register"><button>Register</button></a>
    
</div>


</div>