<div class="main">
    <h2>SignIn</h2>
<form action="/signin" method="POST" >

    <div class="form-item">
        <label>Username</label>
<input type="text" name="username" value="">
    </div>
    <div class="form-item">
        <label>Password</label>
        <input type="password" name="password" value="">
    </div>
    <div class="form-item">
        <button type="submit">Submit</button>

    </div>




</form>
<div class="from-item">
    Or
    <br>
    <a href="/register"><button>Register</button></a>

</div>


</div>