<div class="main">
    <h2 class="main-heading">SignIn</h2>
    <% if(locals.errorMessage!=null) {%>
        <div class="error-message"><%=errorMessage %></div>
        
        <%}%>
<form action="/signin" method="POST" >

    <div class="form-item">
        <label>Username</label>
<input placeholder="Type.." type="text" name="username" value="">
    </div>
    <div class="form-item">
        <label>Password</label>
        <input placeholder="Type.." type="password" name="password" value="">
    </div>
    <div class="form-item">
        <button class="primary-button2" type="submit">Submit</button>

    </div>



  
</form>
<div class="form-item">
    <a class="primary-button" href="/register">Join now</a>

    
</div>


</div>