<div class="chat-container">
    <header class="chat-header">
        <h2 class="chat-header-text"><%=hhh%>  </h2>
         
         <!-- <h5 class="status"></h5>></h5> -->
        <div style="display: flex;">
            <a href="/logout"><button class="chat-button">Logout</button></a>
            <a href="/search"><button class="chat-button">Search</button></a>
            <a id="delete-chat-button" href=""><button class="chat-button">Delete</button></a>

        </div>

    </header>

    <div class="chat-messages">


    </div>
    <div id="chat-form-container">
        <form id="chat-form">
            <input type="text" id="message" class="type-message" placeholder="Enter message" required autocomplete="off">
            <button >Send</button>
        </form>

    </div>
</div>




<!-- <script
src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
crossorigin="anonymous"
></script> -->
<script src="javascripts/qs.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script defer type ="text/javascript" src="javascripts/index.js"></script>