<div class="chat-container">
    <header class="chat-header">
        <h1>Chat</h1>
        <div style="display: flex;">
            <a  href="/logout"><button class="btn2">Logout</button></a>
            <a  href="/search"><button class="btn2">Search</button></a>
        </div>
        
    </header>
   
        <div class="chat-messages">


    </div>
    <div id="chat-form-container">
        <form id="chat-form">
            <input type="text" id="message" placeholder="Enter message" required autocomplete="off">
            <button class="btn">Send</button>
        </form>

    </div>
</div>





<!-- <script
src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
crossorigin="anonymous"
></script> -->
<script src="javascripts/qs.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script defer src="javascripts/index.js"></script>